@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body{
    font-family: 'Kumbh Sans', Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-image: linear-gradient(hsl(273, 75%, 66%) 20%, hsl(240, 73%, 65%) 90%);
}
h1{
    font-size: 3em;
    margin: 0;
}

.wrapper{
    background-color: #FFF;
    width: 80%;
    margin: 0 auto;
    border-radius: 20px;
    padding: 20px;
    display: flex;
}